
body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
  }
  
  .container {
    height: 100vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items:center;
    
  }
  
  .image {
    position: relative;
    width: 400px;
    height: 400px;
    background: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    overflow: hidden;
   
    
  }
  
  .image:hover .text {
    top:0;
    
  }
  .image:hover .text2 {
    bottom:0;
  }
  
  .text 
  {
    background: rgba(0,0,0, 0.8);
    color: white;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 100%;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 2s;
   
  }
  .text2 
  {
    background: rgba(90, 18, 18, 0.8);
    color: white;
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 2s ease;
  }
  
  